html {
  background: url(/public/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: rgba(41, 128, 185, 0.8);
  min-height:100%;
}

body > .grid {
  height: 100%;
}

.column {
  max-width: 450px;
}

.white {
  color: #fff;
}

a.white, a:visited {
  color: #fff;
}
a:hover {
  color: #ebebeb;
}
a:active {
  color: #ebebeb;
}

.ui.segment.totp {
  padding: 0;
  background: none;
  box-shadow: none;
  border: none;
}
