{{ template "htmlbegin" . }}

<div id="top-spacer"></div>

<div id="content-wrapper">
  <h1 class="fingerprint">Identity Provider</h1>

  <form action="/authenticate" method="post">
    {{ .csrfField }}
    <input type="hidden" name="challenge" value="{{ .challenge }}" />

    <div class="input-group">
      <input name="username" type="text" autocomplete="username" placeholder="Enter your username" value="{{ .username }}" required>
      {{if .errorUsername}} <label for="username" class="error">{{ .errorUsername }}</label> {{end}}
    </div>

    <div class="input-group">
      <input name="password" type="password" autocomplete="current-password" placeholder="Enter your password, sshhh..." required>
      {{if .errorPassword}} <label for="password" class="error">{{ .errorPassword }}</label> {{end}}
    </div>

    <input type="submit" name="submit" value="Connect" />
  </form>

  <span class="info">Forgot your credentials? <a href="/recover">Recover</a></span>
  <span class="info">Don't have an account yet? <a href="/register">Sign up</a></span>

</div>

<div id="debug-wrapper">
  <span class="info">Login challenge: {{ .challenge }}</span>
<div>

{{ template "htmlend" . }}
