<head>

  <meta charset="utf-8">

  <title>Authentication</title>
  <meta name="description" content="Authentication">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <h1 class="fingerprint">Identity Provider</h1>

    <div id="login-error-wrapper">
      <span class="error">{{ .login_error }}</span>
    </div>

    <form action="/authenticate" method="post">
      {{ .csrfField }}
      <input type="hidden" name="challenge" value="{{ .challenge }}" />

      <input name="username" type="text" autocomplete="username" placeholder="Enter your username" required>
      <input name="password" type="password" autocomplete="current-password" placeholder="Enter your secret password, sshhh..." required>

      <input type="submit" name="submit" value="Connect" />
    </form>

    <span class="info">Forgot your credentials? <a href="/recover">Recover</a></span>
    <span class="info">Don't have an account yet? <a href="/register">Sign up</a></span>

  </div>

  <div id="debug-wrapper">
    <span class="info">Login challenge: {{ .challenge }}</span>
  <div>

  <script type="text/javascript"></script>
</body>
