{{ template "htmlbegin" . }}

<div class="grid-container">

  {{ template "header" . }}

  {{ template "sidenav" . }}

  <main class="main">

    <div class="main__cards">

        <div class="ui segments">

          <div class="ui segment">

          <form class="ui form" action="{{ .inviteUrl }}" method="post">
            {{ .csrfField }}

            <div class="ui teal ribbon label">
              <i class="envelope icon"></i> Create
            </div>
            <span>Create an invite assigned to an E-mail</span>

            <div class="ui hidden divider"></div>

            {{template "input.email" . }}
            {{template "input.username" . }}
            {{template "input.exp" . }}

            <button class="ui green button" type="submit"><i class="save icon"></i> Create Invite</button>
          </form>

          </div>

        </div>

    </div>
  </main>

  {{ template "footer" . }}
</div>

{{ template "htmlend" . }}
