{{ template "htmlbegin" . }}

<div class="grid-container">

  {{ template "header" . }}

  {{ template "sidenav" . }}

  <main class="main">
    <div class="main__header">
      <div class="main-header__heading">Hello {{ .name }}</div>
      <div class="main-header__updates">Recent Events</div>
    </div>

    <div class="main__cards">
        <h1>{{ .title }}</h1>

        <div class="ui segments">

          <div class="ui segment">

            <div class="ui teal ribbon label">
              <i class="envelope icon"></i> Invite
            </div>
            <span>Information about the invite</span>

            <div class="ui list">
              <div class="item">
                <i class="envelope open icon"></i>
                <div class="content">
                  <span data-tooltip="Invite identifier">{{ .id }}</span>
                </div>
              </div>
            </div>

            <div class="ui list">
              <div class="item">
                <i class="user icon"></i>
                <div class="content">
                  <span data-tooltip="Whom invited you">{{ .ibi }}</span>
                </div>
              </div>
            </div>

            <div class="ui divider hidden"></div>

            <div class="ui teal ribbon label">
              <i class="users icon"></i> Follow
            </div>
            <span>You are recommended to follow these</span>

            <div class="ui hidden divider"></div>

            <div class="ui teal ribbon label">
              <i class="lock icon"></i> Scopes
            </div>
            <span>You will be granted access to this</span>

            <div class="ui hidden divider"></div>

            <form class="ui form" action="{{ .inviteAcceptUrl }}" method="post">
              {{ .csrfField }}
              <input name="id" type="hidden" value="{{ .id }}" required>
              <button class="ui green button" type="submit"><i class="save icon"></i> Accept Invite</button>
            </form>

          </div>

        </div>

    </div>
  </main>

  {{ template "footer" . }}
</div>

{{ template "htmlend" . }}


