{{ template "htmlbegin" . }}

<div class="grid-container">

  {{ template "header" . }}

  {{ template "sidenav" . }}

  <main class="main">

    <div class="main__cards">

        <a href="/invite" style="margin-top:5px" class="ui green label"><i class="envelope icon"></i> Create Invite</a>

        <div class="ui segments">

          <div class="ui segment">

            <div class="ui teal ribbon label">
              <i class="envelope icon"></i> Invites
            </div>
            <span>Invites created by you</span>

            {{ if .created }}
            <table class="ui selectable striped celled table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Expires @</th>
                <th>Sent @</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{range $invite := .created}}
              <tr>
                <td data-label="Id">{{ $invite.Id }}</td>
                <td data-label="Email">{{ $invite.Email }}</td>
                <td data-label="Expires">{{ $invite.Expires }}</td>
                <td data-label="Sent">{{ $invite.SentAt }}</td>
                <td data-label="Grants"><a href="{{ $invite.GrantsUrl }}" class="ui green label"><i class="user lock icon"></i> Show Grants</a> <a href="{{ $invite.SendUrl }}" class="ui green label"><i class="paper plane icon"></i> Send Invite</a></td>
              </tr>
              {{end}}
            </tbody>
            </table>
            {{ end}}

          </div>

        </div>

    </div>
  </main>

  {{ template "footer" . }}
</div>

{{ template "htmlend" . }}