{{ template "htmlbegin" . }}

<div class="ui padded middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="{{ .loginUrl }}" method="post">
      {{ .csrfField }}
      <input type="hidden" name="challenge" value="{{ .challenge }}" />

      <!-- {{template "input.username" . }} -->
      {{template "input.email" . }}
      {{template "input.password" . }}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Login" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">Forgot your credentials? <a class="white" href="{{ .recoverUrl }}">Recover</a></div>
    <div class="white">Don't have an account yet? <a class="white" href="{{ .claimUrl }}">Sign up</a></div>

    <div class="ui divider hidden"></div>

    <div class="white">Login challenge: {{ .challenge }}</div>

  </div>
</div>

{{ template "htmlend" . }}
