{{ template "htmlbegin" . }}

<div class="ui middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="{{ .loginUrl }}" method="post">
      {{ .csrfField }}
      <input type="hidden" name="challenge" value="{{ .challenge }}" />

      <!--
      {{if .errorEmail}}
        <div class="required field {{if .errorEmail}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="mail icon"></i>
            <input type="text" name="email" autocomplete="email" placeholder="E-mail" value="{{.email}}" required />
            <div class="ui red tag label">
              {{ .errorEmail }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="mail icon"></i>
            <input type="text" name="email" autocomplete="email" placeholder="E-mail" value="{{.email}}" required />
          </div>
        </div>
      {{end}}
      -->

      {{if .errorUsername}}
        <div class="required field {{if .errorUsername}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="user icon"></i>
            <input type="text" name="username" autocomplete="username" placeholder="Username" value="{{.username}}" required />
            <div class="ui red tag label">
              {{ .errorUsername }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="user icon"></i>
            <input type="text" name="username" autocomplete="username" placeholder="Username" value="{{.username}}" required />
          </div>
        </div>
      {{end}}

      {{if .errorPassword}}
        <div class="required field {{if .errorPassword}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="lock icon"></i>
            <input type="password" name="password" autocomplete="current-password" placeholder="Password" required />
            <div class="ui red tag label">
              {{ .errorPassword }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="lock icon"></i>
            <input type="password" name="password" autocomplete="current-password" placeholder="Password" required />
          </div>
        </div>
      {{end}}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Login" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">Forgot your credentials? <a class="white" href="{{ .recoverUrl }}">Recover</a></div>
    <div class="white">Don't have an account yet? <a class="white" href="{{ .registerUrl }}">Sign up</a></div>

    <div class="ui divider hidden"></div>

    <div class="white">Login challenge: {{ .challenge }}</div>

  </div>
</div>

{{ template "htmlend" . }}
