<head>

  <meta charset="utf-8">

  <title>Logout</title>
  <meta name="description" content="Logout">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <h1 class="fingerprint">Identity Provider</h1>

    <div id="logout-error-wrapper">
      <span class="error">{{ .logout_error }}</span>
    </div>

    <form action="/logout" method="post">
      {{ .csrfField }}
      <input type="hidden" name="challenge" value="{{ .challenge }}" />
      <input type="submit" name="submit" value="Logout" />
    </form>

  </div>

  <div id="debug-wrapper">
    <span class="info">Logout challenge: {{ .challenge }}</span>
  <div>

  <script type="text/javascript"></script>
</body>
