<head>

  <meta charset="utf-8">

  <title>Profile</title>
  <meta name="description" content="Profile">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <h1>Profile</h1>
    <p>
      Hi {{ .name }}, also known as {{ .user }} <br><br>
      You are viewing your profile. You are registered with the email {{ .email }}
    </p>
  </div>

  <script type="text/javascript"></script>
</body>
