{{ define "htmlbegin" }}
<html>
<head>

  <meta charset="utf-8">

  <title>{{ .title }}</title>
  <meta name="description" content="{{ .title }}">
  <meta name="author" content="CharMixer">

  <link rel="stylesheet" type="text/css" href="/public/lib/semanticui/semantic.min.css"> <!--load all styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  {{ range $value := .links }}
    <link rel="{{ or $value.rel "stylesheet" }}" type="{{ or $value.type "text/css" }}" href="{{ $value.href }}">
  {{ end }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/public/lib/semanticui/semantic.min.js"></script>
  {{ range $value := .scripts }}
    <script type="{{ or $value.type "text/javascript" }}" src="{{ $value.src }}"></script>
  {{ end }}

</head>
  <body>
{{ end }}

{{ define "providerheader" }}
<h2 class="ui left aligned inverted header">
  <img class="ui large image" src="/public/images/fingerprint.svg" />
  <div class="content">
    {{ .provider }}
    <div class="sub header">{{ .provideraction }}</div>
  </div>
</h2>
{{ end}}

{{ define "header" }}
<div class="menu-icon">
  <i class="fas fa-bars"></i>
</div>

<header class="header">
  <div class="header__search">Search...</div>
  <div class="header__avatar">
    <img src="https://via.placeholder.com/150" class="circle" height="30px" />
  </div>
</header>
{{ end }}

{{ define "sidenav" }}
<aside class="sidenav">
  <div class="sidenav__logo">
    <!--<img src="/public/images/fingerprint.svg" alt="Fingerprint" id="fingerprint" />-->
  </div>

  <div class="sidenav__identity">
    <img class="ui avatar mini image" src="https://via.placeholder.com/150" />
    <span>{{ .name }}</span>
  </div>

  <ul class="sidenav__list">

    <li class="sidenav__list-seperator">Identity</li>
    <li class="sidenav__list-item"><a href="/me">Profile</a></li>
    <li class="sidenav__list-item"><a href="/invites">Invites</a></li>
    <li class="sidenav__list-item"><a href="/invites">Followers</a></li>

    <li class="sidenav__list-seperator">Access & Authorization</li>
    <li class="sidenav__list-item"><a href="/authorizations">Authorizations</a></li>
    <li class="sidenav__list-item"><a href="/permissions">Permissions</a></li>
    <li class="sidenav__list-item"><a href="/roles">Roles</a></li>

  </ul>
  <div class="sidenav__close-icon">
    <i class="fas fa-times"></i>
  </div>
</aside>

<script>
  $(document).ready(function(){
    const menuIconEl = $('.menu-icon');
    const sidenavEl = $('.sidenav');
    const sidenavCloseEl = $('.sidenav__close-icon');

    // Add and remove provided class names
    function toggleClassName(el, className) {
      if (el.hasClass(className)) {
        el.removeClass(className);
      } else {
        el.addClass(className);
      }
    }

    // Open the side nav on click
    menuIconEl.on('click', function() {
      toggleClassName(sidenavEl, 'active');
    });

    // Close the side nav on click
    sidenavCloseEl.on('click', function() {
      toggleClassName(sidenavEl, 'active');
    });
  });
</script>
{{ end }}

{{ define "footer" }}
<footer class="footer">
  <div class="footer__copyright">&copy; 2019</div>
  <div class="footer__signature">Made with love by pure genius</div>

</footer>
{{ end }}

{{ define "htmlend" }}
  </body>
</html>
{{ end }}

