{{ define "htmlbegin" }}
<html>
<head>

  <meta charset="utf-8">

  <title>{{ .__title }}</title>
  <meta name="description" content="{{ .__title }}">
  <meta name="author" content="CharMixer">

  <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/lib/fontawesome/css/all.css"> <!--load all styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  {{ range $value := .__links }}
    <link rel="{{ or $value.rel "stylesheet" }}" type="{{ or $value.type "text/css" }}" href="{{ $value.href }}">
  {{ end }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {{ range $value := .__scripts }}
    <script type="{{ or $value.type "text/javascript" }}" src="{{ $value.src }}"></script>
  {{ end }}

</head>
  <body>
{{ end }}

{{ define "header" }}
<div class="menu-icon">
  <i class="fas fa-bars"></i>
</div>

<header class="header">
  <div class="header__search">Search...</div>
  <div class="header__avatar">Your face</div>
</header>
{{ end }}

{{ define "sidenav" }}
<aside class="sidenav">
  <div class="sidenav__logo">
    <!--<img src="/public/images/fingerprint.svg" alt="Fingerprint" id="fingerprint" />-->
  </div>

  <div class="sidenav__identity">
    <img src="https://via.placeholder.com/150" class="circle" height="50px" />
    <span class="name">Lasse Nielsen</span>
  </div>

  <ul class="sidenav__list">
    <li class="sidenav__list-item">Item One</li>
    <li class="sidenav__list-item">Item Two</li>
    <li class="sidenav__list-item">Item Three</li>
    <li class="sidenav__list-item">Item Four</li>
    <li class="sidenav__list-item">Item Five</li>
  </ul>
  <div class="sidenav__close-icon">
    <i class="fas fa-times"></i>
  </div>
</aside>

<script>
  $(document).ready(function(){
    const menuIconEl = $('.menu-icon');
    const sidenavEl = $('.sidenav');
    const sidenavCloseEl = $('.sidenav__close-icon');

    // Add and remove provided class names
    function toggleClassName(el, className) {
      if (el.hasClass(className)) {
        el.removeClass(className);
      } else {
        el.addClass(className);
      }
    }

    // Open the side nav on click
    menuIconEl.on('click', function() {
      toggleClassName(sidenavEl, 'active');
    });

    // Close the side nav on click
    sidenavCloseEl.on('click', function() {
      toggleClassName(sidenavEl, 'active');
    });
  });
</script>
{{ end }}

{{ define "footer" }}
<footer class="footer">
  <div class="footer__copyright">&copy; 2019</div>
  <div class="footer__signature">Made with love by pure genius</div>
</footer>
{{ end }}

{{ define "htmlend" }}
  </body>
</html>
{{ end }}
