{{ template "htmlbegin" . }}

<div class="ui padded middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="{{ .passwordUrl }}" method="post">
      {{ .csrfField }}

      {{template "input.password" . }}
      {{template "input.password_retyped" . }}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Change Password" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">Id: {{ .id }}</div>

  </div>
</div>

{{ template "htmlend" . }}

