{{ template "htmlbegin" . }}

<div class="ui middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="{{ .passwordUrl }}" method="post">
      {{ .csrfField }}

      {{if .errorPassword}}
        <div class="required field {{if .errorPassword}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="lock icon"></i>
            <input type="password" name="password" autocomplete="new-password" placeholder="Password" required />
            <div class="ui red tag label">
              {{ .errorPassword }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="lock icon"></i>
            <input type="password" name="password" autocomplete="new-password" placeholder="Password" required />
          </div>
        </div>
      {{end}}

      {{if .errorPasswordRetyped}}
        <div class="required field {{if .errorPasswordRetyped}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="lock icon"></i>
            <input type="password" name="password_retyped" autocomplete="new-password" placeholder="Password retyped" required />
            <div class="ui red tag label">
              {{ .errorPasswordRetyped }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="lock icon"></i>
            <input type="password" name="password_retyped" autocomplete="new-password" placeholder="Password retyped" required />
          </div>
        </div>
      {{end}}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Change Password" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">Id: {{ .id }}</div>

  </div>
</div>

{{ template "htmlend" . }}

