<head>

  <meta charset="utf-8">

  <title>Passcode</title>
  <meta name="description" content="Passcode">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <h1 class="fingerprint">Identity Provider</h1>

    <form action="/passcode" method="post">
      {{ .csrfField }}
      <input type="hidden" name="challenge" value="{{ .challenge }}" />
      <input type="hidden" name="username" value="{{ .username }}" />

      <input name="passcode" type="password" placeholder="Enter passcode" required>

      <input type="submit" name="submit" value="Verify" />
    </form>

  </div>

  <div id="debug-wrapper">
    <span class="info">Login challenge: {{ .challenge }}</span>
  <div>

  <script type="text/javascript"></script>
</body>
