{{ template "htmlbegin" . }}

<div id="top-spacer"></div>

<div id="content-wrapper">
  <h1 class="fingerprint">Identity Provider</h1>

  <p style="clear:both;">
    Greetings {{ .user }}<br><br>
    You are about to change your password.<br><br>
    If you do not wish to change password just navigate somewhere else and nothing will have changed.
  </p>

  <form action="/password" method="post">
    {{ .csrfField }}

    <input name="password" type="password" autocomplete="new-password" placeholder="Enter your NEW password, sshhh..." required>
    {{if .errorPassword}} <div class="error">{{ .errorPassword }}</div> {{end}}

    <input name="password_retyped" type="password" autocomplete="new-password" placeholder="Retype your NEW password again, just checking..." required>
    {{if .errorPasswordRetyped}} <div class="error">{{ .errorPasswordRetyped }}</div> {{end}}

    <input type="submit" name="submit" value="Change password" />
  </form>

</div>

{{ template "htmlend" . }}
