{{ template "htmlbegin" . }}

<div class="grid-container">

  {{ template "header" . }}

  {{ template "sidenav" . }}

  <main class="main">
    <div class="main__header">
      <div class="main-header__heading">Hello {{ .name }}</div>
      <div class="main-header__updates">Recent Events</div>
    </div>

    <div class="main__cards">
        <h1>{{ .title }}</h1>

        <div class="ui segments">

          <div class="ui segment">

            <form class="ui form" action="{{ .profileDeleteUrl }}" method="post">
              {{ .csrfField }}

              <p>You are about to delete your profile.</p>
              <p>
                If you wish to delete your identity, you can start the process here. You must accept the risk to start the process.<br><br>
                Beware this is a non recoverable action. Meaning we cannot restore your profile once deleted.<br><br>
                All information will be lost.<br><br>
                We will send you an email with a verification code, which must be entered when prompted for the deletion to happen.<br><br>
                Stay safe.
              </p>

              {{template "input.risk_accepted" . }}

              <button class="ui red button" type="submit"><i class="power icon"></i> Delete Identity</button>
            </form>

          </div>

        </div>

    </div>
  </main>

  {{ template "footer" . }}
</div>

