{{ template "htmlbegin" . }}

<div class="grid-container">

  {{ template "header" . }}

  {{ template "sidenav" . }}

  <main class="main">
    
    <div class="main__cards">

        <p>You are about to edit your personal information.</p>

        <div class="ui segments">

          <div class="ui segment">

            <div class="ui teal ribbon label">
              <i class="user icon"></i> Edit
            </div>
            <span>Edit your profile</span>

            <div class="ui hidden divider"></div>

            <form class="ui form" action="{{ .profileEditUrl }}" method="post">
              {{ .csrfField }}

              {{template "input.display-name" . }}
              {{template "input.email" . }}

              <button class="ui green button" type="submit"><i class="save icon"></i> Apply changes</button>
            </form>

          </div>

        </div>

    </div>
  </main>

  {{ template "footer" . }}
</div>

{{ template "htmlend" . }}
