{{ template "htmlbegin" . }}

<div class="ui middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="/me/deleteverification" method="post">
      {{ .csrfField }}      

      <div class="ui left aligned segment totp">

      <div class="ui tiny fluid vertical steps">
        <div class="step">
          <i class="mail icon"></i>
          <div class="content">
            <div class="title">Verify Deletion</div>
            <div class="description">Enter the verification code sent to your email</div>
          </div>
        </div>
      </div>

      </div>

      {{if .errorVerificationCode}}
        <div class="required field {{if .errorVerificationCode}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="lock icon"></i>
            <input name="verification_code" type="password" placeholder="Code" required>
            <div class="ui red tag label">
              {{ .errorVerificationCode }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="lock icon"></i>
            <input name="verification_code" type="password" placeholder="Code" required>
          </div>
        </div>
      {{end}}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Verify and Delete Profile" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">Id: {{ .id }}</div>

  </div>
</div>

{{ template "htmlend" . }}

