{{ template "htmlbegin" . }}

<div class="grid-container">

  {{ template "header" . }}

  {{ template "sidenav" . }}

  <main class="main">

    <div class="main__cards">

        <a href="/me/edit" style="margin-top:5px" class="ui green label"><i class="edit icon"></i> Edit</a>
        <a href="/password" style="margin-top:5px" class="ui green label"><i class="user secret icon"></i> Change Password</a>
        <a href="/logout" style="margin-top:5px" class="ui green label"><i class="sign out alternate icon"></i> Signout</a>

        {{ if .totp_required }}{{ else }}<a href="/totp" style="margin-top:5px" class="ui green label"><i class="mobile alternate icon"></i> Enable Two-factor Authentication</a>{{ end }}

        <div class="ui segments">

          <div class="ui segment">

            <div class="ui teal ribbon label">
              <i class="user icon"></i> Personal
            </div>
            <span>Information accessible only to you</span>

            <div class="ui list">
              <div class="item">
                <i class="user icon"></i>
                <div class="content">
                  <span data-tooltip="The name used to address you">{{ .name }}</span>
                </div>
              </div>
              <div class="item">
                <i class="user circle icon"></i>
                <div class="content">
                  <span data-tooltip="The username you selected">{{ .user }}</span>
                </div>
              </div>
              <div class="item">
                <i class="mail icon"></i>
                <div class="content">
                  <a href="mailto:{{ .email }}" title="Identity recovery email">{{ .email }}</a>
                </div>
              </div>
              <div class="ui divider"></div>
              <div class="item">
                <i class="mobile alternate icon"></i>
                <div class="content">
                  <span data-tooltip="Two factor authenticaton">{{ if .totp_required }}You have enabled two-factor authentication{{ else }}No two-factor authentication<span class="ui left pointing red basic label">You should really enable this!</span></span>{{ end }}
                </div>
              </div>
              <div class="ui divider"></div>
              <div class="item">
                <i class="user secret icon"></i>
                <div class="content">
                  <span data-tooltip="The secret password hash used to authenticate you">{{ if .password }}{{ .password }}{{ else }}n/a{{ end }}</span>
                </div>
              </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui visible grey tiny message">
              <p><i class="bullhorn icon"></i>Access to your personal information requires your consent.</p>
            </div>

            <div class="ui hidden divider"></div>

            <div class="ui blue ribbon label">
              <i class="globe icon"></i> Public
            </div>
            <span>Information accessible to everyone</span>
            <p></p>

            <div class="ui list">
              <div class="item">
                <i class="linkify icon"></i>
                <div class="content">
                  <a href="https://id.localhost/profile?id={{ .id }}" title="Your public profile">id.localhost/profile?id={{ .id }}</a>
                </div>
              </div>
            </div>

            <div class="ui hidden divider"></div>

            <div class="ui grey ribbon label">
              <i class="server icon"></i> System
            </div>
            <span>The identifier representing you in the system</span>
            <div class="ui list">
              <div class="item">
                <i class="key icon"></i>
                <div class="content">
                  <span data-tooltip="The identifier for you in the system">{{ .id }}</span>
                </div>
              </div>
            </div>

          </div>

        </div>

        <a href="/me/delete" style="margin-top:5px" class="ui red label"><i class="power off icon"></i> Delete Profile</a>

    </div>
  </main>

  {{ template "footer" . }}
</div>

{{ template "htmlend" . }}
