{{ template "htmlbegin" . }}

<div class="ui padded middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="/me/deleteverification" method="post">
      {{ .csrfField }}

      <div class="ui left aligned segment totp">

      <div class="ui tiny fluid vertical steps unstackable">
        <div class="step">
          <i class="mail icon"></i>
          <div class="content">
            <div class="title">Verify Deletion</div>
            <div class="description">Enter the verification code sent to your email</div>
          </div>
        </div>
      </div>

      </div>

      {{template "input.code" . }}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Verify and Delete Profile" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">Id: {{ .id }}</div>

  </div>
</div>

{{ template "htmlend" . }}
