{{ template "htmlbegin" . }}

<div class="ui middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="{{ .recoverUrl }}" method="post">
      {{ .csrfField }}

      <div class="ui left aligned segment totp">

        <div class="ui tiny fluid vertical steps">
          <div class="step">
            <i class="mail icon"></i>
            <div class="content">
              <div class="title">Recover using Email</div>
              <div class="description">Enter the email of the identity you want to recover</div>
            </div>
          </div>
        </div>

      </div>


      {{if .errorEmail}}
        <div class="required field {{if .errorEmail}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="mail icon"></i>
            <input type="text" name="email" autocomplete="email" placeholder="E-mail" value="{{.email}}" required />
            <div class="ui red tag label">
              {{ .errorEmail }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="mail icon"></i>
            <input type="text" name="email" autocomplete="email" placeholder="E-mail" value="{{.email}}" required />
          </div>
        </div>
      {{end}}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Recover" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">Already have an account? <a class="white" href="{{ .loginUrl }}">Login</a></div>

  </div>
</div>

{{ template "htmlend" . }}


