{{ template "htmlbegin" . }}

<div class="ui padded middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="/recoververification" method="post">
      {{ .csrfField }}
      <input name="id" type="hidden" value="{{ .id }}" required>

      <div class="ui left aligned segment totp">

      <div class="ui tiny fluid vertical steps unstackable">
        <div class="step">
          <i class="lock icon"></i>
          <div class="content">
            <div class="title">Change Password</div>
            <div class="description">Enter a new password</div>
          </div>
        </div>
      </div>

      </div>

      {{template "input.password" . }}
      {{template "input.password_retyped" . }}

      <div class="ui left aligned segment totp">

      <div class="ui tiny fluid vertical steps unstackable">
        <div class="step">
          <i class="mail icon"></i>
          <div class="content">
            <div class="title">Verify Recover</div>
            <div class="description">Enter the verification code sent to your email</div>
          </div>
        </div>
      </div>

      </div>

      {{ template "input.code" . }}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Verify and Change Password" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">Id: {{ .id }}</div>

  </div>
</div>

{{ template "htmlend" . }}
