<head>

  <meta charset="utf-8">

  <title>Password</title>
  <meta name="description" content="Password">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <h1 class="fingerprint">Identity Provider</h1>

    <form action="/recoververification" method="post">
      {{ .csrfField }}

      <input name="recover_challenge" type="hidden" value={{.recoverChallenge}}>

      <div class="input-group">
        <input name="verification_code" type="password" placeholder="Enter your verification code" required>
        {{if .errorVerificationCode}} <label for="verification_code" class="error">{{ .errorVerificationCode }}</label> {{end}}
      </div>

      <div class="input-group">
        <input name="password" type="password" autocomplete="new-password" placeholder="Enter your NEW password, sshhh..." required>
        {{if .errorPassword}} <label for="password" class="error">{{ .errorPassword }}</label> {{end}}
      </div>

      <div class="input-group">
        <input name="password_retyped" type="password" autocomplete="new-password" placeholder="Enter your NEW password again, just checking..." required>
        {{if .errorPasswordRetyped}} <label for="password_retyped" class="error">{{ .errorPasswordRetyped }}</label> {{end}}
      </div>

      <input type="submit" name="submit" value="Verify and change password" />
    </form>

  </div>

  <script type="text/javascript"></script>
</body>
