<head>

  <meta charset="utf-8">

  <title>Register</title>
  <meta name="description" content="Register">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <img src="/public/images/fingerprint.svg" alt="Fingerprint" id="fingerprint" />
    <h1>Identity Provider</h1>

    <form action="/register" method="post">
      {{ .csrfField }}

      <input name="username" type="text" autocomplete="username" placeholder="Enter your username" value="{{ .username }}" required>
      <div class="error">{{ .errorUsername }}</div>

      <input name="display-name" type="text" autocomplete="name" value="{{ .displayName }}" placeholder="Enter your full name">
      <div class="error">{{ .errorDisplayName }}</div>

      <input name="email" type="text" autocomplete="email" value="{{ .email }}" placeholder="Enter your email" />
      <div class="error">{{ .errorEmail }}</div>

      <input name="password" type="password" autocomplete="new-password" placeholder="Enter your secret password, sshhh..." required>
      <div class="error">{{ .errorPassword }}</div>

      <input name="password_retyped" type="password" autocomplete="new-password" placeholder="Enter your secret password again, sshhh..." required>
      <div class="error">{{ .errorPasswordRetyped }}</div>

      <input type="submit" name="submit" value="Register" />
    </form>

    <span class="info">Already have an account? <a href="/authenticate">Authenticate</a></span>
  </div>

  <script type="text/javascript"></script>
</body>
