<head>

  <meta charset="utf-8">

  <title>Register</title>
  <meta name="description" content="Register">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <h1 class="fingerprint">Identity Provider</h1>

    <form action="/register" method="post">
      {{ .csrfField }}

      <div class="input-group">
        <input name="username" type="text" autocomplete="username" placeholder="Enter your username" value="{{ .username }}" required>
        {{if .errorUsername}} <label for="username" class="error">{{ .errorUsername }}</label> {{end}}
      </div>

      <div class="input-group">
        <input name="display-name" type="text" autocomplete="name" value="{{ .displayName }}" placeholder="Enter your full name">
        {{if .errorDisplayName}} <label for="display-name" class="error">{{ .errorDisplayName }}</label> {{end}}
      </div>

      <div class="input-group">
        <input name="email" type="text" autocomplete="email" value="{{ .email }}" placeholder="Enter your email" />
        {{if .errorEmail}} <label for="email" class="error">{{ .errorEmail }}</label> {{end}}
      </div>

      <div class="input-group">
        <input name="password" type="password" autocomplete="new-password" placeholder="Enter your NEW password, sshhh..." required>
        {{if .errorPassword}} <label for="password" class="error">{{ .errorPassword }}</label> {{end}}
      </div>

      <div class="input-group">
        <input name="password_retyped" type="password" autocomplete="new-password" placeholder="Enter your NEW password again, just checking..." required>
        {{if .errorPasswordRetyped}} <label for="password_retyped" class="error">{{ .errorPasswordRetyped }}</label> {{end}}
      </div>

      <input type="submit" name="submit" value="Register" />
    </form>

    <span class="info">Already have an account? <a href="/authenticate">Authenticate</a></span>
  </div>

  <script type="text/javascript"></script>
</body>
