{{ template "htmlbegin" . }}

<div id="top-spacer"></div>

<div id="content-wrapper">
  <h1 class="fingerprint">Identity Provider</h1>

  <h2>Two Factor Authentication</h2>

  <p>
    Welcome {{ .name }}<br><br>
    To better protect your Identity, we strongly recommend you enable two factor authentication using an Authenticator App.<br><br>
    Scan the QR-code and verify your setup by entering a generated passcode from the App.<br><br>
    Stay safe.<br><br>

    <img style="display:block;" src="data:image/png;base64, {{ .qrcode }}" alt="QR Code" />

    <span style="display:block;padding-top:10px">Secret: {{ .secret }}</span>
    <span style="display:block;">Issuer: {{ .issuer }}</span>

  </p>

  <form action="/me/totp" method="post">
    {{ .csrfField }}
    <input type="hidden" name="secret" value="{{ .secret }}">

    <div class="input-group">
      <input name="otp" type="password" placeholder="Enter passcode" required>
      {{if .errorOtp}} <label for="otp" class="error">{{ .errorOtp }}</label> {{end}}
    </div>

    <input type="submit" name="submit" value="Verify" />
  </form>

</div>

{{ template "htmlend" . }}
