{{ template "htmlbegin" . }}

<h1>Greetings, {{ .name }}</h1>
<p>
This is where you can setup two factor authentication for your profile.
</p>

<h2>Two factor using Authenticator App</h2>

<div>
  <div style="margin:10px">
    <span>Issuer:</span>
    <span>{{ .issuer }}</span>
  </div>

  <div style="margin:10px">
    <span>Secret:</span>
    <span>{{ .secret }}</span>
  </div>
</div>

<img src="data:image/png;base64, {{ .qrcode }}" alt="QR Code" />

<form action="/me/totp" method="post">
  {{ .csrfField }}

  <input type="hidden" name="secret" value="{{ .secret }}">

  <div style="margin:10px">
    <label for="otp">Otp:</label>
    <input name="otp" type="password" placeholder="Enter otp" required>
    {{if .errorOtp}} <div class="error">{{ .errorOtp }}</div> {{end}}
  </div>

  <input type="submit" name="submit" value="Verify" />
</form>

{{ template "htmlend" . }}
