<head>

  <meta charset="utf-8">

  <title>Profile</title>
  <meta name="description" content="Unauthorized">
  <meta name="author" content="Company">

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">

</head>
<body>

  <div id="top-spacer"></div>

  <div id="content-wrapper">
    <h2>Unauthorized</h2>

    <p>
      Access to requested resource was denied.
    </o>

    <h3>Error</h3>
    <p>
      {{ .error }}
    </p>

  </div>

  <script type="text/javascript"></script>
</body>
