{{ template "htmlbegin" . }}

<div class="ui middle aligned center aligned grid">
  <div class="column">

    {{ template "providerheader" . }}

    <div class="ui divider hidden"></div>

    <form class="ui large form" action="/verify" method="post">
      {{ .csrfField }}
      <input type="hidden" name="challenge" value="{{ .challenge }}" />

      <div class="ui left aligned segment totp">

      <div class="ui tiny fluid vertical steps">
        <div class="step">
          <i class="mobile alternate icon"></i>
          <div class="content">
            <div class="title">Verify OTP</div>
            <div class="description">Enter the code from your Authenticator App</div>
          </div>
        </div>
      </div>

      </div>

      {{if .errorCode}}
        <div class="required field {{if .errorCode}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="lock icon"></i>
            <input name="code" type="password" placeholder="Code" required>
            <div class="ui red tag label">
              {{ .errorCode }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="lock icon"></i>
            <input name="code" type="password" placeholder="Code" required>
          </div>
        </div>
      {{end}}

      <input type="submit" name="submit" class="ui fluid large green submit button" value="Verify" />

    </form>

    <div class="ui divider hidden"></div>

    <div class="white">OTP challenge: {{ .challenge }}</div>

  </div>
</div>

{{ template "htmlend" . }}
