{{ template "htmlbegin" . }}

<div id="top-spacer"></div>

<div id="content-wrapper">
  <h1 class="fingerprint">Identity Provider</h1>

  <form action="/verify" method="post">
    {{ .csrfField }}
    <input type="hidden" name="challenge" value="{{ .challenge }}" />

    <input name="code" type="password" placeholder="Enter code" required>
    {{if .errorCode}} <label for="username" class="error">{{ .errorCode }}</label> {{end}}

    <input type="submit" name="submit" value="Verify" />
  </form>

</div>

<div id="debug-wrapper">
  <span class="info">Otp challenge: {{ .challenge }}</span>
<div>

{{ template "htmlend" . }}
